build
cache
node_modules
tests/zksync/*
!tests/zksync/contracts
!tests/zksync/bin/
!tests/zksync/core/
!tests/zksync/infrastructure/
!tests/zksync/sdk
!tests/zksync/yarn.lock
!tests/zksync/package.json
