[submodule "blockchain"]
	path = blockchain
	url = https://github.com/ArtreeTechnologies/frontier
[submodule "ts-tests/tests/zksync"]
	path = ts-tests/tests/zksync
	url = https://github.com/ArtreeTechnologies/zksync
